.footercss{
    border: 1px solid #ced4da;
    margin: 1rem;
    padding: 1rem;
    background-color: rgb(255, 255, 255);
    font-size: 10px;


}
.otsikko{
    font-size: 20px;
    text-align: left;
    color: peru;
}
.footercss p{
    font-size: 15px;
    text-align: left;

}