/* Etusivun ulkoasu */
  
#tarjouksetkaikki {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
  }
  
  section {
    margin: 4rem 0;
  }
  
  h2 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  p {
    font-size: 1.2rem;
    line-height: 1.5;
    text-align: center;
  }

  /* Tuotelista ulkoasu */
.product-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    position: relative; /* Lisätty uusi rivi */
  }
  
  .product-item {
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    text-align: center;
    position: relative; /* Lisätty uusi rivi */
  }
  
  .product-item img {
    width: 100%;
    height: auto;
    margin-bottom: 1.5rem;
  }
  
  .product-item h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .product-item p {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0.75rem 1.5rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  button:hover {
    background-color: #0069d9;
  }
  
  .sale-badge {
    position: absolute;
    top: 35px;
    left: 40px;
    transform: translate(-50%, -50%);
    background-color: #FFC107;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
    z-index: 1;
    }
  
  .discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #ff6a3c;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
  }

  .discount-badge50 {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f70b0b;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
  }

  .discount-badge40 {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #f63a21;
    color: #fff;
    padding: 5px 10px;
    border-radius: 50%;
    font-weight: bold;
  }
